/* .contenedor > p {
    color: red;
} */

/* .contenedor.padre {
    background-color: blue;
} */

/* * {
    border: 1px solid black;
} */

/* p + p {
    color: red;
} */

/* [type="text"] {
    padding: 50px;
} */

/* p:hover {
    color: red;
} */

/* input[type="text"]:focus {
    background-color: red;
} */

/* p:nth-child(odd) {
    color: green;
} */

/* p::first-letter {
    color: red;
} */

body {
    counter-reset: contador;
}

.contenedor > p {
    counter-increment: contador;
}

.contenedor .padre p {
    counter-reset: contador;
}

p::before {
    content: counter(contador) "-";
}

/* p::before {
    content: "BEFORE"
} */




/* POSITION */

.relativo {
    position: relative;
    height: 500px;
}

.absoluto {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: green;
}

.dos {
    background-color: blue;
}



.fijo {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: blueviolet;
    top: 0;
    left: 0;
    box-shadow: 10px 10px 10px black;
    display: none;
}

.fijo ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
 .fijo ul li {
     padding-left: 16px;
 }
.menuMobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: red;
}
 /* and (orientation: landscape) */

@media (min-width: 400px) {
    .fijo {
        display: block;
    }
    .menuMobile {
        display: none;
    }
}
@media (min-width: 700px) {
    .fijo {
        background-color: coral;
        /* display: none; */
    }
    /* .menuMobile {
        display: block;
    } */
}

